body
{
    height: 100%;
    font: "Lato", sans-serif;
    font-size: 30px;
    font-style: oblique;
    margin: 5px; 
    color: azure;
    background-color: "#1a1a1a";
}
.img1, .img2, .img3
{
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.img1
{
    opacity: 0.65;
    background-image: url("./MilkyWay.jpg");
    min-height: 500px;
}
.img2
{
    opacity: 0.85;
    background-image: url("./nebula.jpg");
    min-height: 500px;
}
.img3
{
    opacity: 1;
    background-image: url("./eclipse.jpg");
    min-height: 500px;
}
.caption
{
    padding: 20px;
    position: absolute;
    text-align: center;
    color: azure;
    background-color: "#1a1a1a";
    left: 0;
    top: 50%;
    width: 100%;
}
.info1, .info2 
{
    padding: 10px;
    color: azure;
    background-color: "#1a1a1a";
    text-align: center;
    font: 20px;
}
.border{
    color:azure;
    background-color: "1a1a1a";
}
.inviteBar{
    color: azure;
    background-color: "1a1a1a";
    text-align: center;    
}
.guests{
    color: aliceblue;
    background-color: "1a1a1a";
}
h3{color: azure;}

ul {
    list-style-type: none;
}
